header{
    display: flex;
}

header .entry{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

header .entry .box{
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .entry .box .space{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    padding-left: 10%;
}

header .entry .box .space .search{
    border: none;
    display: flex;
    width: 15%;
    height: 100%;
    background-color: #5C5C5C;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header .entry .box .space .search .fa-magnifying-glass{
    font-size: 0.5rem;
}

header .entry .box .space input{
    font-size: 0.5rem;
    border: none;
    width: 70%;
    height: 100%;
    padding-left: 0.5rem;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.information .subtitle{
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
}

.information .subtitle .box{
    display: flex;
    background-color: #5C5C5C;
    height: 100%;
    width: 55%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.information .subtitle .box h2{
    color: white;
    font-size: 1.2rem;
}

.information .subtitle button{
    border: none;
    background-color: transparent;
    color:#5C5C5C;
    font-size: 1.5rem;
}

.information .title{
    align-items: baseline;
}

.information .title .box h1{
    font-size: 2rem;
    overflow-wrap: break-word;
}

.information .frame-space{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.information .frame-space .frame{
    position: relative;
    bottom: 2rem;
    width: 16rem;
    height: 16rem;
    background-color: white;
    border-radius: 100%;
    border: 0.3rem solid #5C5C5C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .frame-space .frame img{
    height: 80%;
    width: auto;
}

.data{
    margin-top: 7rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data .types-space{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data .types-space .types-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.data .types-space .types-list li{
    height: 2rem;
    width: 40%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

.data .types-space .types-list .first-type{
    display: flex;
}

.data .types-space .types-list .first-type .box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.data .types-space .types-list .second-type .box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.measures{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.measures .box{
    width: 90%;
    height: 70%;
    background-color:#5C5C5C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.8rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.measures .box .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60%;
}

.measures .box .text{
    width: 40%;
    height: 60%;
    margin-left: 0.5rem;
}

.measures .box .text .info{
    font-size: 0.8rem;
}

.measures .box .text .title{
    font-weight: 500;
    font-size: 0.5rem;
}

.measures .box .weight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.measures .box .height{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.stats{

    width: 100%;
    height: 20rem;
}   

.stats .title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats .title h2{
    font-size: 1rem;
    font-weight: 500;
}

.stats .stats-list{
    width: 100%;
    height: 100%;
}

.stats .stats-list li{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 30%;
}

.stats .stats-list li h3{
    width: 20%;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.stats .stats-list li .progress-bar{
    margin-right: 1rem;
    justify-self: flex-end;
    width: 50%;
    height: 0.8rem;
    background-color:#5C5C5C;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
}

.stats .stats-list .hp .progress-bar .progress{
    background-color: #FF6E6E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.stats .stats-list .atk .progress-bar .progress{
    background-color: #FF6E6E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.stats .stats-list .def .progress-bar .progress{
    background-color: #FF6E6E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.stats .stats-list .sp-atk .progress-bar .progress{
    background-color: #FF6E6E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.stats .stats-list .sp-def .progress-bar .progress{
    background-color: #FF6E6E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.stats .stats-list .spe .progress-bar .progress{
    background-color: #FF6E6E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.extra{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.extra .list{
    list-style: none;
    width: 90%;
}

.extra .list li{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.extra .list li .content .movements-list{
    padding-left: 1rem;
    list-style:square;
    columns: 2;
    font-size: 0.6rem;
    text-align: center;
}

.extra .list li .content .movements-list li{
    display: inline;
}

.extra .list li .content .abilities-list{
    padding-left: 1rem;
    list-style:square;
    columns: 2;
    font-size: 1rem;
    text-align: center;
}

.extra .list li .content .abilities-list li{
    display: inline;
}

footer{
    margin-top: 4rem;
}




